<span *ngIf="!roActive">Каталоги:</span>
<ul *ngIf="!roActive">
  <li>
    <app-tab-route-link
      [tab]="{ url: '/', name: 'Dashboard', canClose: false }"
    ></app-tab-route-link>
  </li>
  <li>
    <app-tab-route-link
      [tab]="{ url: '/catalogs/bank', name: 'Банки', canClose: true }"
    ></app-tab-route-link>
  </li>
  <li>
    <app-tab-route-link
      [tab]="{ url: '/catalogs/product', name: 'Товары', canClose: true }"
    ></app-tab-route-link>
  </li>
</ul>
<div class="row" style="height: 100%">
  <div class="col">
    <div class="row breadcrumbs-container">
      <div class="col">
        <p-breadcrumb
          [model]="breadcrumbItems"
          [home]="breadcrumbHome"
        ></p-breadcrumb>
      </div>
    </div>
    <div class="row table-title">
      <div class="col">
        <span>{{ title }}</span>
      </div>
      <div class="col right-col"></div>
    </div>
    <div class="row table-container">
      <div class="col">
        <router-outlet
          (activate)="roActive = true"
          (deactivate)="roActive = false"
        ></router-outlet>
      </div>
    </div>
  </div>
</div>
