<section id="header">
  <!-- <ul>
    <li *ngFor="let tab of (tabs | async)">
       <a routerLink="{{tab.url}}">{{tab.name}}</a><span *ngIf="tab.canClose">&#10060;</span>
    </li>
  </ul> -->
  <app-navigate-tab-list></app-navigate-tab-list>
</section>
<section id="content">
  <ul *ngIf="!roActive">
    <li>
      <app-tab-route-link [tab]="{url: '/catalogs', name: 'Каталоги', canClose: true}"></app-tab-route-link>
      <ul>
        <li>
          <app-tab-route-link [tab]="{url: '/catalogs/bank', name: 'Банки', canClose: true}"></app-tab-route-link>
        </li>
      </ul>
    </li>
  </ul>

  <router-outlet (activate)="roActive = true" (deactivate)="roActive = false"></router-outlet>
</section>
<section id="footer">footer</section>
