<section id="header">
  <ul>
    <li *ngFor="let tab of (tabs | async)">
       
       <a routerLink="{{tab.url}}">{{tab.name}}</a>
    </li>
  </ul>
</section>
<section id="content">
  <ul *ngIf="!roActive">
    <li>
      <a routerLink="/catalogs">Каталоги</a>
      <ul>
        <li>
          <a routerLink="/catalogs/bank" (click)="addTab('/catalogs/bank')">Банки</a>
        </li>
      </ul>
    </li>
  </ul>

  <router-outlet (activate)="roActive = true" (deactivate)="roActive = false"></router-outlet>
</section>
<section id="footer">footer</section>
