:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header {
    height: 70px;
}

#content {
    height: calc(100% - (50px + 70px));
    overflow-y: hidden;
    display: flex;
}

#footer {
    height: 50px;
}
