<!-- {{value | json}} -->
<div [ngSwitch]="col?.typeName">
    <ng-template ngSwitchCase="ENUM">
        {{value | getConstant : constants : col.property}}
    </ng-template>
    <ng-template ngSwitchCase="ARRAY">
        <al-locale-formatter [value]="value"></al-locale-formatter>
    </ng-template>
    <ng-template ngSwitchCase="BooleanType">
        <al-boolean-formatter [value]="value"></al-boolean-formatter>
    </ng-template>
    <ng-template ngSwitchCase="StringType">
        <al-string-formatter [value]="value"></al-string-formatter>
    </ng-template>
    <ng-template ngSwitchCase="IntType">
        <al-number-formatter [value]="value"></al-number-formatter>
    </ng-template>
    <ng-template ngSwitchCase="DecimalType">
        <al-number-formatter [value]="value"></al-number-formatter>
    </ng-template>
    <ng-template ngSwitchCase="DateTimeType">
        <al-date-formatter [value]="value"></al-date-formatter>
    </ng-template>
    <ng-template ngSwitchDefault>
        <div *ngIf="col.kind === 'OBJECT'">
            <al-object-formatter
                [col]="col | filterField"
                [value]="value[(col | filterField)?.property.toString()]"
                *ngIf="!flag"
                [flag]="true"
            >
            </al-object-formatter>
        </div>
    </ng-template>
</div>
