<div
    (click)="item.call()"
    [class]="'toolbarButton ' + classes"
    [ngClass]="{ 'toolbarButton-disabled': item.disabled }"
    [ngStyle]="item.styles"
    [title]="item.title | translate "
>
    <ng-container *ngIf="item.icon">
        <div [ngSwitch]="item.typeIcon" class="toolbarIcon">
            <ng-container *ngSwitchCase="item.typeIcon == 'fontawesome'">
                <fa-icon [icon]="item.icon | faIcon"></fa-icon>
            </ng-container>
            <ng-container *ngSwitchCase="item.typeIcon == 'prime'"
                ><i [class]="item.icon"></i
            ></ng-container>
            <ng-container *ngSwitchCase="item.typeIcon == 'path'"
                ><img [src]="item.icon" alt=""
            /></ng-container>
            <ng-container *ngSwitchDefault>
                <fa-icon [icon]="item.icon | faIcon"></fa-icon>
            </ng-container>
        </div>
    </ng-container>

    <div class="toolbarName">{{ item.title | translate }}</div>
</div>
