$paddding-a: 2px;
$height-tab-title: 25 + ($paddding-a * 2);
$height-footer: 30px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep p-tabView {
  height: calc(100% - #{$height-footer});
  .p-ctabView {
    height: 100%;
    .p-tabview-nav {
      height: $height-tab-title;
      li {
        height: 100%;
        a {
          height: 100%;
          padding: $paddding-a;
        }
      }
      .active {
        background: red !important;
      }
    }
    .p-tabview-panels {
      padding: 0;
      height: calc(100% - #{$height-tab-title});
      overflow-y: hidden;
      display: flex;
      p-tabpanel.active {
        width: 100%;
        .p-tabview-panel {
          height: 100%;
        }
      }
    }
  }
}

#catalogs.bg {
  position: absolute;
  background-color: rgba(116, 116, 116, 0.494);
  width: 100%;
  height: 100%;
  display: flex;
  .content {
    background: white;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    .close {
      position: absolute;
      right: 2px;
    }
    .close:hover {
      background-color: red;
      color: white;
      cursor: pointer;
    }
  }
}

.breadcrumbs-container {
  height: 55px;
  max-height: 55px;
}

.table-title {
  height: 55px;
  max-height: 55px;
  & {
    .col {
      & {
        span {
          display: flex;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 2rem;
          margin-left: 0.5rem;
          font-size: 18pt;
          color: #4a4a4a;
        }
      }
    }
  }
}

.table-container {
  height: calc(100% - 55px - 55px);
  justify-content: start;
}

.right-col {
  margin-left: auto;
  flex: initial;
}

#footer {
  height: $height-footer;
}
