$paddding-a: 2px;
$height-tab-title: 25 + ($paddding-a * 2);
$height-footer: 30px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep p-tabView {
  height: calc(100% - #{$height-footer});
  .p-ctabView {
    height: 100%;
    .p-tabview-nav {
      height: $height-tab-title;
      li {
        height: 100%;
        a {
          height: 100%;
          padding: $paddding-a;
        }
      }
      .active {
        background: red !important;
      }
    }
    .p-tabview-panels {
      height: calc(100% - #{$height-tab-title});
      overflow-y: hidden;
      display: flex;
    }
  }
}

#catalogs.bg {
  position: absolute;
  background-color: rgba(116, 116, 116, 0.494);
  width: 100%;
  height: 100%;
  display: flex;
  .content {
    background: white;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    .close {
      position: absolute;
      right: 2px;
    }
    .close:hover {
      background-color: red;
      color: white;
      cursor: pointer;
    }
  }
}

#footer {
  height: $height-footer;
}
