<div
    [className]="
        labelPosition == 'left' ? 'inputBox input_row' : 'inputBox input_col'
    "
    *ngIf="isVisible"
>
    <label
        *ngIf="label || labelPosition !== 'none'"
        [for]="id"
        [style]="
            labelTextPosition == 'right'
                ? 'text-align: right'
                : 'text-align: left' && maxWidth
                ? 'flex: inherit'
                : 'width: 100%'
        "
    >{{ label }}<i class="sup2" *ngIf="isRequired">*</i></label
    >

    <textarea
        [id]="id"
        pInputText
        [value]="value"
        #textArea
        (input)="updateValue(textArea.value)"
        [style]="maxWidth ? 'flex: 1' : 'width: 100%'"
        style="resize: none"
        autoResize="false"
    ></textarea>
    <div class="input-invalid" *ngIf="control?.invalid && control?.touched">
        <div>
            {{ control?.errors | formErrorPipe: "inputText" }}
        </div>
    </div>
</div>


