/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.checked::after {
  content: "☑";
  filter: brightness(1.7);
}

.not-checked::after {
  content: "☒";
  font-size: 18pt;
}
