<!-- <div class="row" style="height: 100%">
  <div class="col">
    <div class="row breadcrumbs-container">
      <div class="col">
        <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
      </div>
    </div>
    <div class="row table-title">
      <div class="col">
        <span>{{ title }}</span>
      </div>
      <div class="col right-col"></div>
    </div>
    <div class="row table-container">
      <div class="col">
        <app-bank-partial></app-bank-partial>
      </div>
    </div>
  </div>
</div> -->

<app-bank-partial></app-bank-partial>