:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
}

.breadcrumbs-container {
  height: 55px;
  max-height: 55px;
}

.table-title {
  height: 55px;
  max-height: 55px;
  & {
    .col {
      & {
        span {
          display: flex;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 2rem;
          margin-left: 0.5rem;
          font-size: 18pt;
          color: #4a4a4a;
        }
      }
    }
  }
}

.table-container {
  height: calc(100% - 55px - 55px);
  justify-content: start;
}

.right-col {
  margin-left: auto;
  flex: initial;
}
