<p-columnFilter type="text" field="codeE" [showMenu]="false">
  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
    <input [attr.value]="value" (input)="onInput(input.value, filter)" #input/>
  </ng-template>
</p-columnFilter>
<!-- <div [ngSwitch]="col.typeName">
    <ng-template ngSwitchDefault>
        <div *ngIf="col.kind === 'OBJECT'">
            <div *ngIf="!filterObjectTemplate">
                <app-table-filter></app-table-filter>
            </div>
        </div>
    </ng-template>
</div> -->
