<div class="p-grid">
    <div class="p-col">
        <span>{{ options.message }}</span>
    </div>
</div>
<p-footer>
        <div class="confirm_window_bt_line">
            <ng-container *ngFor="let button of options.buttons">
                    <button
                        type="button"
                        pButton
                        [icon]="button.icon"
                        [label]="button.name | translate"
                        (click)="click(button.type)"
                    ></button>
            </ng-container>
        </div>
</p-footer>