<p-tabView styleClass="p-ctabView" #tabView>
  <!-- <p-tabPanel
    [header]="tab.header"
    *ngFor="let tab of tabs; let i = index"
    [selected]="i == 0"
  >
    <ng-content *ngTempalteOutlet="tab.tempalte"></ng-content>
  </p-tabPanel> -->
  <p-tabPanel header="Dashboard" [selected]="true">
    <ul>
      <li (click)="open('Bank')">Банки</li>
      <li (click)="open('Product')">Товары</li>
    </ul>
  </p-tabPanel>
  <p-tabPanel
    [header]="tab.header"
    *ngFor="let tab of tabs; let i = index"
  >
    <ng-tempalte appCreateComponent [component]="tab.component"></ng-tempalte>
  </p-tabPanel>
</p-tabView>
<section id="footer">
  <app-lang-check></app-lang-check>
</section>
