<p-tabView
  styleClass="p-ctabView"
  (onChange)="activateTab($event.index)"
  #toggleableWindowContainer
>
  <p-tabPanel
    [header]="tab.name"
    *ngFor="let tab of tabs | async; let i = index"
    [selected]="tab.active"
    #tp
  >
    <ng-template pTemplate="header">
      <div [ngClass]="{active: tab.active}">
        <span>{{tab.name}}</span>
        <button *ngIf="tab.canClose" (click)="closeTab(i)">X</button>
      </div>
    </ng-template>
    <ng-container *ngIf="i == 0">
      <ul>
        <li (click)="open('Bank')">Банки</li>
        <li (click)="open('Product')">Товары</li>
      </ul>
    </ng-container>
    <ng-tempalte
      appCreateComponent
      [component]="tab.component"
      *ngIf="i > 0"
    ></ng-tempalte>
  </p-tabPanel>
</p-tabView>
<section id="footer">
  <app-lang-check></app-lang-check>
</section>
