<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-overlayPanel [appendTo]="dt" #op>
  <ng-template pTemplate>
    <p-listbox
      [checkbox]="true"
      [filter]="true"
      [multiple]="true"
      [options]="headers"
      [(ngModel)]="selectedColumns"
      (onChange)="onColToggle.emit($event.value)"
      optionLabel="title"
    ></p-listbox>
    <button (click)="op.hide()">OK</button>
  </ng-template>
</p-overlayPanel>

<p-table
  styleClass="p-datatable-sm"
  columnResizeMode="expand"
  [showLoader]="false"
  [columns]="selectedColumns"
  [value]="data"
  [lazy]="lazy"
  [paginator]="paginator"
  [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [scrollable]="scrollable"
  [style]="style"
  [lazyLoadOnInit]="lazyLoadOnInit"
  [showCurrentPageReport]="showCurrentPageReport"
  [resizableColumns]="resizableColumns"
  [reorderableColumns]="reorderableColumns"
  [rowHover]="rowHover"
  [columnResizeMode]="columnResizeMode"
  [currentPageReportTemplate]="currentPageReportTemplate"
  [scrollHeight]="'flex'"
  [contextMenu]="cm"
  [(selection)]="selection"
  [(filters)]="filters"
  [(contextMenuSelection)]="selectedItem"
  (onLazyLoad)="onLazyLoad.emit($event)"
  (onRowSelect)="onRowSelect.emit($event)"
  (onRowUnselect)="onRowUnselect.emit($event)"
  (onColResize)="onColResizeHandler($event)"
  (onColReorder)="onColReorderHandler($event)"
  #dt
  frozenWidth="50px"
>
  <!-- <ng-template pTemplate="caption">
  </ng-template> -->
  <ng-template pTemplate="frozenheader">
    <tr>
      <th class="selected-column" (click)="op.toggle($event)">
        <span>&#9776;</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="frozenbody" let-rowData>
    <tr>
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <ng-container *ngFor="let col of selectedColumns">
        <col [style]="{ width: col.offsetWidth + 'px' }" />
        <!-- <col [style]="{ width: '200px' }" /> -->
      </ng-container>
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <!-- <tr (click)="filterIsShowed = !filterIsShowed"> -->
    <tr>
      <th
        *ngFor="let header of columns"
        [attr.data-property]="header.property"
        pResizableColumn
        pReorderableColumn
        [pSortableColumn]="header.property"
      >
        <!-- <th *ngFor="let header of columns" pResizableColumn pReorderableColumn> -->
        <span class="text-wrapping">{{ header?.title }}</span>
        <p-sortIcon [field]="header.property"></p-sortIcon>
      </th>
    </tr>
    <tr *ngIf="filterIsShowed">
      <th *ngFor="let header of columns">
        <app-table-filter [col]="header" [appendTo]="dt"></app-table-filter>
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-index="rowIndex"
  >
    <tr
      [pSelectableRow]="rowData"
      [pReorderableRow]="index"
      [pContextMenuRow]="rowData"
    >
      <td
        *ngFor="let col of columns"
        [title]="rowData[col.property] | stringFormatter"
      >
        <al-object-formatter
          [col]="col"
          [value]="rowData[col.property]"
          [constants]="constants"
        ></al-object-formatter>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns>
    <tr *ngFor="let item of rows | enumerator">
      <td *ngFor="let col of columns"><p-skeleton></p-skeleton></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="15">
        <div style="width: 100vw; position: fixed">
          <div style="display: flex">
            <span style="margin-left: auto; margin-right: auto">
              No data!!!
            </span>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- <ng-template pTemplate="caption">
  <div class="p-d-flex">
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-file-o"
      (click)="dt.exportCSV()"
      class="p-mr-2"
      pTooltip="CSV"
      tooltipPosition="bottom"
    ></button>
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-file-excel"
      (click)="exportExcel()"
      class="p-button-success p-mr-2"
      pTooltip="XLS"
      tooltipPosition="bottom"
    ></button>
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-file-pdf"
      (click)="exportPdf()"
      class="p-button-warning p-mr-2"
      pTooltip="PDF"
      tooltipPosition="bottom"
    ></button>
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-filter"
      (click)="dt.exportCSV({ selectionOnly: true })"
      class="p-button-info p-ml-auto"
      pTooltip="Selection Only"
      tooltipPosition="bottom"
    ></button>
  </div>
</ng-template> -->
